@charset "utf-8";
@import url(./lato-font/stylesheet.css);

body {
    font-family: latoregular, Proximanova;
}

.hideme {
    display: none !important;
}

a:hover {
    text-decoration: none;
}

.s {
    overflow: hidden;
}

.s .w {
    width: 100%;
    position: relative;
}

.s img {
    display: block;
}

.lang-bar {
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 13px;
    top: 0px;
    background: rgba(125,113,97,0.45);
    height: 46px;
    width: 200px;
    z-index: 111;
}

.lang {
    float: left;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
    position: relative;
    height: 1em;
    top: 50%;
    margin-top: -0.5em;
    box-sizing: border-box;
    z-index: 111;
    font-family: "latobold";
}

.lang-en {
    border-right: 1px solid #fff;
}

.logo {
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 111;
}

.logo img {
    max-width: 202px;
}

.book-form {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(81,69,61, 0.45);
    padding: 25px 0px;
    box-sizing: border-box;
    z-index: 111;
}

.book-form input, .book-form select{
    height: 50px;
    line-height: 50px;
    display: inline-block;
    float: left;
    width: 16%;
    margin-right: 18px;
    font-size: 12.5px;
    border: none;
    padding-left: 8px;
    font-family: "latoitalic";
}

.book-form form {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.book-form .btn-book {
    float: left;
    position: absolute;
    text-decoration: none;
    text-align: center;
    background: #ffe37f;
    color: #231816;
    text-transform: uppercase;
    font-weight: bold;
    width: 7%;
    max-width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 1em;
}

.home-slideshow {
    max-height: 800px;
    overflow: hidden;
}

.home-slideshow img {
    width: 100%;
}

#web-navs {
    background: #231816;
    overflow: visible;
}

#web-navs .navs {
    margin-bottom: 0px;
      padding: 30px 3%;
}

#web-navs li {
  float: left;
  text-align: left;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  margin-right: 30px;
} 
 
#web-navs li.last {
    background: none;
}

#web-navs a {
    color:#fff;
    font-size: 0.8em;
  font-family: "latobold";
    word-spacing: 0.2em;
}

#web-navs a:hover {
    color: #ffe87f;
}

#web-navs .w {
      padding-bottom: 80px;
}

#web-navs .w > img {
    display: block;
    clear: both;
    width: 175px;
    margin: 0 auto;
    padding-top: 1.5em;
}

#web-navs .w > h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    font-family: "latobold";
}

#web-navs .w > p {
    margin-top: 10px;
    color: #848789;
    width: 735px;
    margin: 0 auto;
    text-align: center;
    line-height: 130%;
}

.ss .cover img {
    width: 100%;
}

.table {
    display: table;
    width: 100%;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
}

.shanghai-ss .tableCell-1 {
    display: table-cell;
    vertical-align: middle;
    width: 66.66%;
}

.shanghai-ss .tableCell-2 {
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;
    position: relative;
}

#locations .info {
    text-align: center;
}

#locations .s-thumb {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#locations .s-thumb > img{
    width: 100%;
}

#locations .shanghai-thumb {
    margin-top: -31%;
}

#locations .shanghai-thumb h4.t1 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
    font-family: "latobold";
}

#locations .shanghai-thumb h4.t2 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
    color: #848789;
      font-family: "黑体";
}

#locations .line-1 {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    background: none;
    height: 1px;
    width: 60px;
}

.star-1 {
    height: 0px;
    position: absolute;
    top: 0px;
    width: 0px;
    border: 11px solid #fff;
    border-color: #fff transparent transparent transparent;
    left: 50%;
    margin-left: -7px;
}


.dalian-ss .tableCell-2{
    width: 33.33%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.dalian-ss .tableCell-1 {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
}

.icon-1 img {
    display: inline !important;
}

.nantong-ss .tableCell {
    width: 33.33%;
    vertical-align: middle;
    position: relative;
}

.nantong-ss .tableCell-3 img, .nantong-ss .tableCell-1 img{
    width:100%;
}

#news .w > img {
    padding: 68px 0px;
    margin: 0 auto;
    width: 65%;
}

#news .w {
    background: #231816;
}

#news ul {
    width: 95%;
    margin: 0 auto;
}

#news li {
    width: 31.33%;
    float: left;
    margin-right: 3%;
    margin-bottom: 100px;
}

#news li.l-last{
    float: right;
    margin-right: 0px;
}

#news li > img {
    width: 100%;
}

#news li > h4 {
  font-size: 1em;
  color: #fff;
  padding: 35px 0px;
  text-align: left;
  font-family: "latobold";
}

#news li > p {
    color: #848789;
    text-align: left;
    line-height: 150%;
}

.gallery-ss li {
    width: 33.33%;
    float: left;
}

.gallery-ss li > img {
    float: left;
}

.gallery-ss img.w50 {
    width:50%;
}

.gallery-ss img.w100 {
    width:100%;
}

.social-ss {
    background: #534948;
    padding-bottom: 20px;
}

.social-ss .icon {
    padding: 10px 0px;
    text-align: center;
}

.social-ss .icon img {
    display: inline;
}

.social-ss h3 {
    color: #fff;
    text-align: center;
    line-height: 200%;
}

.social-ss p {
    line-height: 150%;
    color: #848789;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.yuan-quan {
    width: 55px;
    margin: 0 auto;
    margin-top: 10px;
}

#footer-brands {
    background: #231816;
}

#footer-brands .table {
    margin: 71px auto 40px auto;
      width: 70%;
}

#footer-brands li {
    float: left;
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

#footer-brands li img {
    width: 80%;
    display: inline;
    vertical-align: baseline;
}

#footer-brands h4 {
    clear: both;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 36px;
}

#footer-brands .form {
    width: 536px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#footer-brands .form input {
    height: 70px;
    line-height: 70px;
    width: 70%;
    display: block;
    float: left;
    padding-left: 10px;
    border: none;
    font-family: "latoitalic";
}

#footer-brands .form a {
    width: 25%;
    float: left;
    margin-left: 2%;
    display: block;
    color: #fff;
    background: #534948;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

#footer-brands .tableCell {
    vertical-align: text-bottom;
    width: 25%;
    text-align: center;
}

#footer-brands .tableCell img {
    display: inline-block;
    max-width: 80%;
}

#footer-desc {
    background: #534948;
}

#footer-desc .w {
    margin-top: 50px;
    padding-bottom: 48px;
    padding: 0 50px 48px 48px;
    box-sizing: border-box;
}

#footer-desc .fd-ss {
    float: left;
}

#footer-desc .fd-ss-1 {
    width: 33.33%;
    float: left;
}

#footer-desc .fd-ss a {
    color:#fff;
    font-size: 13px;
}

#footer-desc .f-navs-1 li {
    width: 33.33%;
    float: left;
    padding-bottom: 15px;
}

#footer-desc .f-navs-2 li {
    width: 33.33%;
    float: left;
    padding-bottom: 15px;
}

#footer-desc .f-navs-2 {
    width: 66.66%;
    margin: 0 auto;
}

#footer-desc .sd1 {
    clear: both;
    margin-top: 40px;
    color: #848789;
    line-height: 120%;
}

#footer-desc .fd-ss-2, #footer-desc .fd-ss-3 {
    float: left;
    width: 11.66%;
}

#footer-desc .fd-ss-2 .ww , #footer-desc .fd-ss-3 .ww {
    text-align: left;
    width: 100px;
}

#footer-desc .fd-ss-3 .ww {
    margin-left: 0px;
}


#footer-desc .fd-ss-2 h4 , #footer-desc .fd-ss-3 h4 {
    font-size: 1.2em;
    padding-bottom: 10px;
    color: #fff;
}

#footer-desc .fd-ss-2 ul a , #footer-desc .fd-ss-3 ul a {
    color: #79797a;
    font-size: 1.1em;
    line-height: 120%;
}

#footer-desc .fd-ss-4 > img {
    width: 87px;
    float: left;
}

#footer-desc .fd-ss-4 .sss {
    float: left;
}

#footer-desc .fd-ss-4 .sss p {
    color: #848789;
    line-height: 120%;
    text-align: center;
    margin-top: 14px;
}

#footer-desc .fd-ss-4 .sss h3 {
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#footer-desc .fd-ss-4 {
    width: 28.33%;
}

.social-icons {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

.social-icons img {
    float: left;
    margin-right: 10px;
}

#footer-desc .fd-ss-5 {
    width: 9%;
    float: right;
}


#footer-desc .fd-ss-6 {
    right: 36px;
    bottom: 26px;
    position: absolute;
}

#footer-desc .fd-ss-6 p {
    color: #848789;
}

#footer-desc .fd-ss-6 img {
    float: right;
    margin-top: 5px;
}

.calender {
    background-image: url('../misc/calender-icon.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.guest {
    background-image: url('../misc/guest-icon.png');
    background-repeat: no-repeat;
    background-position:center right;
    border-right: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 1em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker {
    width: 22em;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #fff;
}

.ui-datepicker-today .ui-state-highlight{
    background: #e0941b;
}

td .ui-state-active, td .ui-state-hover {
    background: #e0941b!important;
    color:#efefef!important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #222;
    border: none!important;
}

.ui-widget-content {
    background: #222;
}

.ui-datepicker td {
    padding: 0px;
    border: 1px solid #4b4b4b;
}

.ui-datepicker .ui-datepicker-title {
    background: #222;
    margin: 0px;
    padding: 0px;
    border: none;
}

.ui-datepicker .ui-datepicker-header {
    padding: 0px;
    border: none;
}

.ui-datepicker.ui-datepicker-multi {
      width: 41em !important;
}

.home-slideshow .next {
  display: inline-block;
  width: 47px;
  height: 66px;
  background: url(../misc/next-slide-btn.png);
  position: absolute;
  right: 1%;
  top: 50%;
  z-index: 111;
  height: -33px;
  background-repeat: no-repeat;
}

.home-slideshow .prev {
  display: inline-block;
  width: 47px;
  height: 66px;
  background: url(../misc/prev-slide-btn.png);
  position: absolute;
  left: 1%;
  top: 50%;
  margin-top: -33px;
  z-index: 111;
  background-repeat: no-repeat;
}

.down {
  display: inline-block;
  width: 60px;
  height: 45px;
  background: url(../misc/down-slide-btn.png);
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 17.5%;
  z-index: 111;
  background-repeat: no-repeat;
}

.next:hover, .prev:hover, .down:hover {
    cursor: pointer;
}

.shadow-1:hover {
    box-shadow: 0px 0px 20px #ffe87f;
}

.more-gallery{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: .8em;
    background-color: rgba(3,3,3,0.3);
}

#residences .table {
    cursor: pointer;
}

.btitle {
    height: 140px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: relative;
}

.btitle h4 {
    line-height: 150%;
}

.btitle .star-1 {
      top: 100%;
}

.btitle .line-btm {
    width: 2.5em;
    height: 1px;
    background-image: url(../misc/line-1.png);
    margin: 0 auto;
    margin-top: 1em;
}

.list-con-res {
    background-color: #231816;
    overflow: hidden;
}

.list-con-res ul {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 4em;
}

.list-con-res .listss {
      margin-top: -4em;
}

.list-con-res li {
  width: 23.1%;
  height: 345px;
  background: #534948;
  overflow: hidden;
  float: left;
  margin-right: 2.5%;
  margin-top: 3em;
}

.list-con-res .res-con2 {
    padding: 10px 8px;
}

.res-con2 .title {
  color: #fff;
  font-size: 1.1em;
}

.res-con2 .at {
  font-size: 1em;
  color: #fff;
  margin-top: 8px;
  display: inline-block;
}


.res-con2 p {
  color: #737273;
  margin-top: 8px;
  width: 100%;
  overflow: hidden;
  height: 1em;
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.res-con2 .desc {
  color: #737273;
  margin-top: 9px;
  display: inline-block;
}

.res-con3 {
    border-top: 1px solid #5d5555;
    padding-top: 7px !important;
}

.list-con-res .llast{
    margin-right: 0px;
}

.list-con-res img {
    width: 100%;
}

.guest-c .ui-selectmenu-button {
      height: 50px;
      line-height: 50px;
      background: #fff;
      border-radius: 0px;
      float: left;
      width: 16% !important;
      background-image: url('../misc/guest-icon.png');
      background-repeat: no-repeat;
      background-position: 100% 50%;
      border-right: 0px;
      margin-right: 18px;
}

.guest-c .ui-selectmenu-button:focus {
    border:none;
    outline: none;
}

.guest-c .ui-selectmenu-button .ui-selectmenu-text {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0px;
  padding-left: 8px;
  font-size: 12.5px;
  font-family: "latoitalic";
  color: #999;
  font-style: normal;
  font-weight: normal;
}

.guest-c .ui-selectmenu-button  .ui-icon {
    display: none !important;
}

.ui-selectmenu-menu .selectbox{
  border-radius: 0px;
  background: #fff;
  border: 1px solid #ccc;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.ui-selectmenu-menu {
    z-index: 111;
}

.ui-selectmenu-menu .selectbox > li {
    font-weight: normal;
    font-style: normal;
    font-size: 0.875em;
    cursor: pointer;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.375em;
    padding-right: 2.375em;
    min-height: 1.5em;
    line-height: 1.5em;
    margin: 0;
    white-space: nowrap;
    list-style: none;
    background: #fff;
    color: #000;
    border: none;
}

.ui-selectmenu-menu .selectbox > li.ui-state-focus {
    background:#eee;
}

.navs .menu2, .navs .menu1 {
  float: left;
    width: 100%;
}

.navs .menu1 {
      float: left;
}

.navs .menu2 {
       float: right;
}

.navs .logo-menu {
  float: left;
  text-align: center;
    width: 202px;
  position: absolute;
  left: 50%;
  margin-left: -101px;
}

.navs .logo-menu img {
    display: inline-block;
    margin-top: -28px;
}

#footer-desc .fd-ss-2 ul a:hover, #footer-desc .fd-ss-3 ul a:hover {
    color:#ffe87f;
}

.navs .submenu {
  position: absolute;
  background: #231816;
  padding: 1em 2.5em;
  z-index: 116;
  padding-bottom: 0px;
  left: -2.5em;
  display: none;
}

#web-navs .submenu  li {
  float: none;
  width: 100%;
  text-align: left;
  padding: 1em 0px;
  background: inherit;
  font-size: .8em;
}

#social-con {
      background: #534948;
}

.ss-list {
    position: relative;
      position: relative;
      margin: 0 auto;
}

.ss-pager{
  padding: 1.2em 0px;
  text-align: center;
  color: #fff;
}

.ss-pager a {
  overflow: hidden;
  text-indent: 100px;
  width: .7em;
  height: .7em;
  overflow: hidden;
  text-indent: 100px;
  display: inline-block;
  background: url(../misc/pager-icon.png);
  background-position: .7em 0;
  background-size: cover;
  margin-right: 0.5em;
}

.ss-pager a.activeSlide {
      background-position: 0 0;
}

#footer-desc .fd-ss a:hover {
  color: #ffe87f;
}

.lss2 {
    margin-left: 1.7em;
}

#news li:hover{
    cursor: pointer;
}

#news li:hover .tchover-1 {
    color:#fff !important;
}

#news li:hover .shadow-2{
    box-shadow: 0px 0px 10px #ffe87f;
}

.logo-li {
      margin-top: -28px;
}

.book-form .btn-book:hover {
    background-color: #d6a700;
}

.cc4, .cc5 {
    display: none;
}

#footer-mobile {
    display: none;
}

.brand-logo-table {
    display: none;
}


